@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz{
    min-width: 450px;
    padding: 1rem 3rem;
    height: auto;
    border: 1px solid skyblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

label{
    color: grey;
    cursor: pointer;
    font-weight: lighter;
}



button{
    background-color: rgb(11, 148, 202);
    color: white;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

button:hover{
    background-color: rgb(2, 92, 128);

}

#scoreboard{
    padding: 1rem;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.3);
    background-color: rgb(235, 229, 229);
    text-align: center;
}

.scoreboard{
    display: none;
}

.submit{
    display: none;
}